
.instructions {
	padding: 20px;
	border: 1px solid #990000;
	color: #990000;
	background: #f4f4f4;
	margin-bottom: 2em;
	border-radius: 10px;
	clear: both;
}
.instructions p, .instructions th, .instructions td, .instructions table, .instructions h2 {
	color: #990000;
}
pre {
	font-family: courier;
	overflow: scroll;
}
*[class^='optional-section-'],*[class*=' optional-section-'] {display: none;}

.bold {
	font-weight: bold;
}

.indent {
	padding-left:10px;
}
.right {
  align: right;
}

.grey_button {
	display:inline;
	padding: 2px 8px;
	color:#000;
	background:#DEE0E2;
	/*border-radius:5px;*/
	border-bottom:3px solid #BFC1C3;
	font-size:16px;
	text-align:center;
	text-decoration:none;
	margin-top: 10px;
	margin-right: 25px;
	margin-bottom: 10px;
	transition:0.3s;
}
.grey_button:hover {
  background: #dee0e2;
}

p.nofilechosen {
  display: inline;
  margin-left: 10px;
}
